<!doctype html>
<html>
    <head>
        <title>Enter some news!</title>
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    </head>
    <body>
        <form action="{{ action }}" method="POST" name="news">
            <textarea name="news_text" rows="30", cols="90">{{ text }}</textarea>
            <br/>
            <input type="checkbox" name="save" value="save">Save</input>
            <input type="submit">
        </form>
    </body>
</html>
