<!DOCTYPE html>
<html>
    <head>
        <title>Early Stage Financings - {{ date }}</title>
        <style>
        h2.header { 
        font-family: "Elena Web Basic";
        font-size: 16pt;
        border-bottom-style: solid;
        border-bottom-color: darkgrey;
        border-bottom-width: 2px;
        }
        </style>
        <link href="../bootstrap.css" rel="stylesheet" media="screen">
    </head>
<body class="">
    <h2 class="header">Redpoint Early Stage News <span style="float: right;">{{ date }}</span></h2>
    <div class="container" id="content">
        <button class="btn">test</button>
        <table class="table span10">
            <thead>
                <tr>
                    <th style="width: 10%">Company</th>
                    <th style="width: 45%">Description</th>
                    <th style="width: 10%; text-align: center">$</th>
                    <th style="width: 25%">Investors</th>
                </tr>
            </thead>
            <tbody>
                {{ table | safe }}
            </tbody>
        </table>
    </div>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="../bootstrap.js"></script>
</body>
</html>